.card-container{
    height: 50%;
    width: 40%;
    margin: 1%;
    margin-bottom: 2%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 0.5rem;
    text-align: left;
    float: left;
}

.MuiCard-root{
    height: 50%;
    width: 40%;
    margin: 1%;
    margin-bottom: 2%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 0.5rem;
    text-align: left;
    float: left;
}

.card-container_mobile{
    height: 370px;
    width: 260px;
    margin: 15px;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 0.5rem;
    text-align: left;
    float: left;

}

